@import '../_global.styl'


// footer

.comunity
	background #222222 
	overflow hidden
	


.footer
	background #313131 
	overflow hidden
	
	.menu-footer
		grid(4)
	
	.form
		grid(8)	

	.partners
		grid(12)	

	.employeers
		grid(12)