.sprites{ background:url("sprites.png") top left no-repeat; }
.logo{ width:139px; height:139px; background-position:-10px -10px; }
.logo-dev-in-company{ width:175px; height:71px; background-position:-10px -159px; }
.logo-rapido-ware{ width:175px; height:71px; background-position:-10px -240px; }
.logo-rc{ width:175px; height:71px; background-position:-10px -321px; }
.logo-onrizon{ width:175px; height:71px; background-position:-10px -402px; }
.logo-gdgbh{ width:175px; height:71px; background-position:-10px -483px; }
.logo-dev-cast{ width:175px; height:71px; background-position:-10px -564px; }
.logo-braziljs{ width:175px; height:71px; background-position:-10px -645px; }
.fx-bg-3{ width:64px; height:64px; background-position:-10px -726px; }
.fx-bg-1{ width:64px; height:64px; background-position:-84px -726px; }
.fx-bg-2{ width:64px; height:64px; background-position:-10px -800px; }
.icon-pin{ width:50px; height:49px; background-position:-84px -800px; }
.icon-globe{ width:47px; height:49px; background-position:-10px -874px; }
.icon-calendar{ width:48px; height:48px; background-position:-67px -874px; }
.icon-code{ width:55px; height:41px; background-position:-125px -874px; }
.icon-google-plus{ width:26px; height:24px; background-position:-159px -10px; }
.icon-rss{ width:22px; height:22px; background-position:-158px -726px; }
.icon-twitter{ width:26px; height:22px; background-position:-144px -800px; }
.icon-facebook{ width:11px; height:22px; background-position:-10px -933px; }
.icon-email{ width:20px; height:15px; background-position:-31px -933px; }
.icon-search{ width:14px; height:14px; background-position:-61px -933px; }
.arrow-white{ width:7px; height:13px; background-position:-85px -933px; }
.arrow-gray{ width:7px; height:13px; background-position:-102px -933px; }
.arrow-red{ width:7px; height:11px; background-position:-119px -933px; }
