
@font-face {
    font-family: 'petrobras_regular';
    src: url('../../fonts/petrobrassans_rg-webfont.eot');
    src: url('../../fonts/petrobrassans_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/petrobrassans_rg-webfont.woff') format('woff'),
         url('../../fonts/petrobrassans_rg-webfont.ttf') format('truetype'),
         url('../../fonts/petrobrassans_rg-webfont.svg#petrobras_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'petrobras_bold';
    src: url('../../fonts/petrobrassans_bd-webfont.eot');
    src: url('../../fonts/petrobrassans_bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/petrobrassans_bd-webfont.woff') format('woff'),
         url('../../fonts/petrobrassans_bd-webfont.ttf') format('truetype'),
         url('../../fonts/petrobrassans_bd-webfont.svg#petrobras_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'petrobras_light';
    src: url('../../fonts/petrobrassans_lt-webfont.eot');
    src: url('../../fonts/petrobrassans_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/petrobrassans_lt-webfont.woff') format('woff'),
         url('../../fonts/petrobrassans_lt-webfont.ttf') format('truetype'),
         url('../../fonts/petrobrassans_lt-webfont.svg#petrobras_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'petrobras_italic';
    src: url('../../fonts/petrobrassans_it-webfont.eot');
    src: url('../../fonts/petrobrassans_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/petrobrassans_it-webfont.woff') format('woff'),
         url('../../fonts/petrobrassans_it-webfont.ttf') format('truetype'),
         url('../../fonts/petrobrassans_it-webfont.svg#petrobras_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Petrobras_regular', Arial;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #202020;
}
.btGerenciar {
    float: left;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

h1, h2, h3, h4, h5
{
    font-family: 'petrobras_bold', Arial;
}

h2
{
    font-size: 24px;
    text-transform: uppercase;
}

.container
{
    margin-top: 30px;
}

#login-header
{
    margin: 70px auto 0;
    padding-top: 80px;
    width: 350px;
    background: url("../img/petrobras_logo.png") no-repeat top center;
}
    #login-header h1
    {
        text-align:center;
        font-size: 41px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Petrobras_bold', Arial;
    }

    #login-header h2
    {
        text-align:center;
        font-size: 19px;
        text-transform: uppercase;
        font-family: 'Petrobras_light', Arial;
        font-weight: normal;
    }


.form-signin {
    max-width: 450px;
    padding: 19px 29px 29px;
    margin: 50px auto 20px;
    background-color: #fff;
}

    .form-signin input[type="text"],
    .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        width: 430px;
        margin-bottom: 15px;
        padding: 7px 9px;
        background: #efefef;
    }

    .form-signin button[type="submit"].btn {
        margin: 0 auto;
        display: block;
        width: 210px;
    }
    .form-signin label
    {
        font-family: 'Petrobras_regular', Arial;
    }




.navbar .brand
{
    padding: 0;
    margin: 15px;
    background: url("../img/petrobras_logo.png") no-repeat top center;
    width: 166px;
    height: 31px;
    text-indent: -9999px;
}

.navbar .navbar-text
{
    font-family: 'petrobras_bold', Arial;
    text-transform: uppercase;
    margin-top: 10px;
}
    .navbar .navbar-text span
    {

    }
    .navbar .navbar-text strong
    {
        color: #158844;
    }


.navbar .nav
{
    margin-left: 25px;
    margin-top: 10px;
}



.nav-btns {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 10px 10px 0 100px;
    list-style: none;
}

    .nav-btns li {
        line-height: 20px;
        float: left;
        margin-right: 20px;
    }

.box_stats {
    background:#f1f1f1;
    width:150px;
    height:auto;
    padding:3px;
    margin:3px;
    border:2px solid #eee;
    float:left;
}

.box_stats:hover {
    background:#f5f5f5;
    cursor:default;
}


.box_stats h2 {
    text-align:center;
    margin-bottom:5px;
    font-size:32px;
    color:#12aa10;
    /*43aab9    */
}

.box_stats p {

    text-align:center;
    font-size:20px;
    color:#12aa10;
}


#sair {
        font-family: 'petrobras_bold', Arial;
    text-transform: uppercase;
    margin-top: 10px;
}